absl-py==0.3.0
adodbapi==2.6.0.7
alabaster==0.7.11
alembic==1.4.2
algopy==0.5.7
altair==2.1.0
altair-widgets==0.1.2
apache-airflow==2.0.0.dev0
apispec==3.3.1
appdirs==1.4.3
argcomplete==1.12.0
asciitree==0.3.3
asteval==0.9.12
astor==0.7.1
astroid==1.6.5
astroML==0.3
atomicwrites==1.1.5
attrs==19.3.0
Babel==2.6.0
backcall==0.1.0
backports-abc==0.5
baresql==0.7.4
bcolz==1.2.1
beautifulsoup4==4.6.0
bleach==2.1.3
blosc==1.5.1
bloscpack==0.13.0
bokeh==0.13.0
boto==2.49.0
boto3==1.7.70
botocore==1.10.70
Bottleneck==1.2.1
bqplot==0.10.5
brewer2mpl==1.4.1
Brotli==1.0.4
bz2file==0.98
cached-property==1.5.1
cattrs==1.0.0
certifi==2018.4.16
cffi==1.11.5
cftime==1.0.0
chardet==3.0.4
click==6.7
clickclick==1.2.2
cloudpickle==0.5.3
clrmagic==0.0.1a2
colorama==0.3.9
colorcet==0.9.1
colorlog==4.0.2
comtypes==1.1.4
configparser==3.5.3
connexion==2.7.0
croniter==0.3.34
cryptography==2.9.2
cvxopt==1.2.0
cvxpy==1.0.6
cx-Freeze==5.1.1
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.28.3
cytoolz==0.9.0.1
dask==0.18.1
dask-searchcv==0.2.0
datashader==0.6.7
datashape==0.5.2
db.py==0.5.3
decorator==4.3.0
defusedxml==0.6.0
dill==0.2.8.2
distlib==0.3.1
distributed==1.22.0
dnspython==1.16.0
docopt==0.6.2
docrepr==0.1.1
docutils==0.14
ecos==2.0.5
edward==1.3.5
email-validator==1.1.1
emcee==2.2.1
entrypoints==0.2.3
fast-histogram==0.4
fastcache==1.0.2
fasteners==0.14.1
fastparquet==0.1.5
feather-format==0.4.0
filelock==3.0.12
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==3.0.1
Flask-Babel==1.0.0
Flask-Caching==1.3.3
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.3
flask-swagger==0.2.13
Flask-WTF==0.14.3
formlayout==1.1.0
funcsigs==1.0.2
future==0.16.0
fuzzywuzzy==0.16.0
gast==0.2.0
gensim==3.5.0
geographiclib==1.49
geopy==1.14.0
gmpy2==2.0.8
graphviz==0.14
greenlet==0.4.13
grpcio==1.13.0
guidata==1.7.6
guiqwt==3.0.3
gunicorn==19.10.0
h5py==2.8.0
HeapDict==1.0.0
holoviews==1.11.0a1
html5lib==1.0.1
husl==4.0.3
hvplot==0.2.0
idna==2.7
imageio==2.3.0
imagesize==1.0.0
importlib-metadata==1.7.0
importlib-resources==3.0.0
inflection==0.5.0
intake==0.1.3
ipydatawidgets==3.1.0
ipykernel==4.8.2
ipyleaflet==0.9.0
ipympl==0.2.0
ipyparallel==6.2.2
ipyscales==0.2.2
ipython==6.4.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.2.1
iso8601==0.1.12
isort==4.3.4
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10.3
jmespath==0.9.3
joblib==0.12.0
json-merge-patch==0.2
jsonschema==3.2.0
julia==0.1.5
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter-sphinx==0.1.2
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
keras-vis==0.4.1
keyring==13.2.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.24.0
lmfit==0.9.11
locket==0.2.0
lockfile==0.12.2
loky==2.1.4
lxml==4.2.3
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==3.7.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==2.0.1
marshmallow-sqlalchemy==0.23.1
matplotlib==2.2.2
mccabe==0.6.1
metakernel==0.20.14
mistune==0.8.3
mizani==0.4.6
mkl-service==1.1.2
monotonic==1.5
more-itertools==4.2.0
moviepy==0.2.3.5
mpl-scatter-density==0.3
mpld3==0.3
mpldatacursor==0.6.2
mpmath==1.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3
msgpack-python==0.5.4+dummy
multipledispatch==0.5.0
multiprocess==0.70.6.1
mypy==0.610
mysql-connector-python==8.0.6
natsort==7.0.1
nbconvert==5.3.1
nbconvert-reportlab==0.2
nbformat==4.4.0
netCDF4==1.4.0
networkx==2.1
nltk==3.3
notebook==5.5.0
numba==0.39.0
numcodecs==0.5.5
numdifftools==0.9.20
numexpr==2.6.5
numpy==1.17.0
numpydoc==0.8.0
oct2py==4.0.6
octave-kernel==0.28.4
onnx==1.5.0
openapi-spec-validator==0.2.8
opencv-python==3.4.2.17
osqp==0.3.0
packaging==17.1
palettable==3.1.1
pandas==0.23.3
pandas-datareader==0.6.0
pandocfilters==1.4.2
param==1.7.0
parambokeh==0.2.2
paramnb==2.0.2
parso==0.3.0
partd==0.3.8
patsy==0.5.0
pdfrw==0.4
pdvega==0.1
pendulum==2.1.0
pep562==1.0
pep8==1.7.1
pexpect==4.6.0+dummy
pg8000==1.11.0
pickleshare==0.7.4
Pillow==5.2.0
pipenv==2020.6.2
pipreqs==0.4.10
pkginfo==1.4.2
plotnine==0.3.0
pluggy==0.6.0
prettytable==0.7.2
prison==0.1.3
prompt-toolkit==1.0.15
protobuf==3.9.1
psutil==5.4.6
ptpython==0.41
PuLP==1.6.8
py==1.5.4
pyarrow==0.9.0
PyAudio==0.2.11
pybars3==0.9.3
pybind11==2.2.3
pycodestyle==2.4.0
pycparser==2.17
pyct==0.4.3
pyflakes==2.0.0
pyflux==0.4.17
pygame==1.9.3
Pygments==2.2.0
PyJWT==1.7.1
pylint==1.9.2
pymc==2.3.7
pymc3==3.4.1
PyMeta3==0.5.1
pymongo==3.7.0
pyodbc==4.0.23
PyOpenGL==3.1.2
pypandoc==1.3.2
pyparsing==2.2.0
PyQt5==5.9.2
pyqtgraph==0.11.0.dev0
pyrsistent==0.16.0
pyserial==3.4
pystache==0.5.4
pytest==3.6.3
python-daemon==2.2.4
python-dateutil==2.7.3
python-editor==1.0.4
python-hdf4==0.9.1
python-Levenshtein==0.12.0
python-nvd3==0.15.0
python-slugify==4.0.1
python-snappy==0.5.3
python3-openid==3.2.0
pythonnet==2.4.0.dev0
PythonQwt==0.5.5
pythreejs==1.1.0
pytz==2018.5
pytzdata==2019.3
pyviz-comms==0.1.1
PyWavelets==0.5.2
pywin32==223.1
pywin32-ctypes==0.1.2
pywinpty==0.5.4
pywinusb==0.4.2
PyYAML==5.3.1
pyzmq==17.0.0
pyzo==4.5.2
QtAwesome==0.5.0.dev0
qtconsole==4.3.1
QtPy==1.4.2
redis==2.10.6
regex==2018.6.21
reportlab==3.4.0
requests==2.24.0
requests-file==1.4.3
requests-ftp==0.3.1
requests-toolbelt==0.8.0
rope==0.10.7
rpy2==2.9.4
ruamel.yaml==0.15.42
Rx==1.6.1
s3transfer==0.1.13
scikit-fuzzy==0.3.1
scikit-image==0.14.0
scikit-learn==0.19.1
scikit-optimize==0.5.2
scilab2py==0.6.1
scipy==1.1.0
scs==1.2.7
seaborn==0.9.dev0
Send2Trash==1.5.0
setproctitle==1.1.10
simplegeneric==0.8.1
simplejson==3.16.0
sip==4.19.6
six==1.11.0
smart-open==1.6.0
snakeviz==0.4.2
snowballstemmer==1.2.1
sortedcontainers==2.0.4
sounddevice==0.3.11
Sphinx==1.7.5
sphinx-rtd-theme==0.4.0
sphinxcontrib-websupport==1.1.0
spyder==3.3.0
spyder-kernels==0.2.4
SQLAlchemy==1.3.18
SQLAlchemy-JSONField==0.9.0
SQLAlchemy-Utils==0.36.8
sqlite-bro==0.8.11
sqlparse==0.2.4
statsmodels==0.9.0
streamz==0.3.0
supersmoother==0.4
swagger-ui-bundle==0.0.6
sympy==1.1.1
tables==3.4.4
tabulate==0.8.7
tblib==1.3.2
tenacity==4.12.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
text-unidecode==1.3
Theano==1.0.2
thrift==0.11.0
toolz==0.9.0
torch==0.4.0
torchvision==0.2.1
tornado==5.0.2
tqdm==4.23.4
traitlets==4.3.2
traittypes==0.2.1
twine==1.11.0
twitter==1.17.1
typed-ast==1.1.0
typing==3.6.4
typing-extensions==3.7.4
tzlocal==1.5.1
uncertainties==3.0.2
unicodecsv==0.14.1
urllib3==1.23
vega==1.3.0
vega-datasets==0.5.0
vega3==0.13.0
virtualenv==20.0.30
virtualenv-clone==0.5.4
ViTables==3.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.2.1
winpython==1.10.20180624
wordcloud==1.4.1
wrapt==1.10.11
WTForms==2.3.1
xarray==0.10.7
xlrd==1.1.0
XlsxWriter==1.0.5
xlwings==0.11.5
yarg==0.1.9
zarr==2.2.0
zict==0.1.3
zipp==3.1.0
zope.deprecation==4.4.0
